{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>addsoal</title>
  <link rel="stylesheet" href="{% static 'admindepaginas/styleaddsoal.css' %}">
  <link rel="stylesheet" href="{% static 'admindepaginas/stylebase.css' %}">

  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
</head>
<body>

  <header>
    <img src="{% static 'admindepaginas/avatar_profile.jpg' %}" alt="HSI">
    <h4>Halaman Admin | Tambah Soal</h4>
    <nav class="nav_links">
      <ul>

        <li><a href="">Admin</a></li>
          <ul class="dropdown">
            <li><a href="{% url 'homeadmin' %}" >Bank Soal</a></li>
            <li><a href="{% url 'arsip' %}" >Arsip</a></li>
            <li> <a class="kirimeva" href="/">Logout</a></li>
          </ul>

      </ul>
    </nav>
   
  </header>


  <div class="tambahsoal">
    <table class="soalpertanyaan">
      <a href="{% url 'homeadmin' %}"></a>
        <div class="thead">
          <h1>Isi pertanyaan baru</h1>
        </div>
    <form action="#" method="post">
      {% csrf_token %}
      <tbody>
        <tr>
          <td>
            <label for="pregunta">pertanyaan :</label>
          </td>
          <td>
            {% render_field form.pregunta placeholder="Masukkan pertanyaan" class="form" rows="3" %}
          </td>
        </tr>
        <tr>
          <td>
            <label for="ellecion1">Pilihan A :</label>
          </td>
          <td>
            {% render_field form.ellecion_uno placeholder="Masukkan pilihan A" class="form" rows="2" %}
          </td>
        </tr>
        <tr>
          <td>
            <label for="ellecion2">Pilihan B :</label>
          </td>
          <td>
            {% render_field form.ellecion_dos placeholder="Masukkan pilihan B" class="form" rows="2" %}
          </td>
        </tr>
        <tr>
          <td>
            <label for="ellecion3">Pilihan C :</label>
          </td>
          <td>
            {% render_field form.ellecion_tres placeholder="Masukkan pilihan C" class="form" rows="2" %}
          </td>
        </tr>
        <tr>
          <td>
            <label for="ellecion4">Pilihan D :</label>
          </td>
          <td>
            {% render_field form.ellecion_cuatro placeholder="Masukkan pilihan C" class="form" rows="2" %}
          </td>
        </tr>
        <tr>
          <td>
            <label for="larespuesta">kunci jawaban :</label>
          </td>
          <td>
            {% render_field form.larespuesta %}
          </td>
        </tr>
        <tr>
          <td></td>
          <td> 
            <div class="kotak-button">
              <br>
              <button class="kirimeva" style="float: left;">
                <a type="submit">Submit</a>
              </button>
              <button class="kirimeva" style="float: left;">
                <a href="{% url 'homeadmin' %}">Cancel</a>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </form>
    </table>
  </div>
    
</body>
</html>

