<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href= {% static 'iniciopaginas/styleinicio.css' %} />

  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <title>Login</title>
</head>
<body>
  
  <section>
    <div class="card" style="float: right;">
      <h2>Aqilah Nurfaidah A.</h2>
      <h1>HSI Sandbox level - 3</h1>
      <hr>
      <div class="listlink">
        <a href="../../../admindepaginas/">
          <p>Admin</p>
        </a> 
        <a href="../../../userdepaginas/">
          <p>User</p>
      </div>
    </div>
  </section> 

</body>
</html>