.card-pertanyaan {
  background-color: #f5f5f5;
  width: 500px;
  padding: 20px;
  margin: auto;
  left: 500px;
  border-radius: 4px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 90px;
}

td {
  padding: 2px;
}