* {
  font-family: 'Montserrat', sans-serif;
}

.content-table {
  float: right;
  border-collapse: collapse;
  margin: 30px;
  min-width: 500px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  overflow: hidden;
  margin: 100px 100px 1000px 50px;
  font-family: 'Montserrat', sans-serif;
  border: 2px solid #00d1b2;

}

.card-table {
  margin-top: 0px;
}

.content-table thead tr {
  background-color: #00d1b2;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
  user-select: none;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
  user-select: none;
  font-family: 'Montserrat', sans-serif;
}

th {
  font-size: 1rem;
}

td {
  font-size: 0.8rem;
}

.content-table tbody tr {
  border-bottom: 1px solid #00d1b2;
}


.tombol {
  border: none;
  display: block;
  font-style: bold;
  color: #ffffff;
  text-align: center;
  background-color: #83c2f5;
  border-collapse: collapse;
  cursor: pointer;
  font-size: 14px;
  padding: 8px;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
}

a:hover {
  background-color: #04cac4;
}

a:focus {
  outline: none;
  background-color: #44b927;
}