img {
  cursor: pointer;
  width: 50px;
  height: 50px;
  margin-right: auto;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li, a, h4, button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 8px 6%;
  background-color: #00d1b2 !important;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: #0088a9;
}

button {
  margin-left: 20px;
  padding: 8px 24px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

h4 {
  margin-right: auto;
}