{% comment %} halaman arsip {% endcomment %}
{% load static %}
<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'admindepaginas/stylehomeadmin.css' %}">
    <link rel="stylesheet" href="{% static 'admindepaginas/stylebase.css' %}">
    <link rel="stylesheet" href="{% static 'userdepaginas/stylearsip.css' %}">


    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css"/>
  </head>

  <body>
    
    <header>
      <img src="{% static 'admindepaginas/avatar_profile.jpg' %}" alt="HSI">
      <h4>Halaman Peserta | Arsip </h4>
      <nav class="nav_links">
        <ul>

          <li><a href="">Peserta</a></li>
            <ul class="dropdown">
              <li><a href="{% url 'evaluasi' %}" >Evaluasi</a></li>
              <li><a href="{% url 'arsip' %}" >Arsip</a></li>
              <li> <a class="kirimeva" href="/">Logout</a></li>
            </ul>

        </ul>
      </nav>
     
    </header>
    <br />

    <div class="cardarsip">

      {% for n in arsip_item %}
      <div class="kotak-arsip">
        <h3>EH-{{forloop.counter}}</h3>
        <hr /><br />

        {% for item in n %}
          <strong>{{forloop.counter}}. {{item.pregunta}}</strong>


            <p class="correcta">Jawaban : 
              {% if item.jawaban == item.larespuesta %}

                {% if item.jawaban == 'A' %}
                  A. {{ item.soal.ellecion_uno }} <i class="las la-check"></i>

                {% elif item.jawaban == 'B' %}
                  B. {{ item.soal.ellecion_dos }} <i class="las la-check"></i>

                {% elif item.jawaban == 'C' %}
                  C. {{ item.soal.ellecion_tres }} <i class="las la-check"></i>

                {% elif item.jawaban == 'D' %}
                  D. {{ item.soal.ellecion_cuatro }} <i class="las la-check"></i>
                
                {% else %}
                  -Tidak Ada Data-
                  
                {% endif %}

              {% else %}

                {% if item.jawaban == 'A' %}
                  A. {{ item.soal.ellecion_uno }} <i class="las la-times"></i>

                {% elif item.jawaban == 'B' %}
                  B. {{ item.soal.ellecion_dos }} <i class="las la-times"></i>
                
                {% elif item.jawaban == 'C' %}
                  C. {{ item.soal.ellecion_tres }} <i class="las la-times"></i>

                {% elif item.jawaban == 'D' %}
                  D. {{ item.soal.ellecion_cuatro }} <i class="las la-times"></i>
                
                {% else %}
                  -Tidak Ada Data-

                {% endif %}
                
              {% endif %}
            </p>

          
          <p class="correct">Jawaban benar : {{item.larespuesta}}</p>
          <br />
        {% endfor %}

        {% for item in n %}
        {% if forloop.counter0|divisibleby:2 %}
        <hr />
        <p>Nilai anda : {{item.score}}</p>
        {% endif %}
        {% endfor %}
      </div>
      
      {% endfor %}
    
    </div>
  </body>


</html>