<!DOCTYPE html>
{% load static %}
{% load widget_tweaks %}
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>userpage</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'admindepaginas/stylebase.css' %}">
    <link rel="stylesheet" href="{% static 'userdepaginas/stylehasiljawaban.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
  </head>

  <body>

    <header>
      <img src="{% static 'admindepaginas/avatar_profile.jpg' %}" alt="HSI">
      <h4>Halaman Peserta | Evaluasi</h4>
      <nav class="nav_links">
        <ul>
  
          <li><a href="">Peserta</a></li>
            <ul class="dropdown">
              <li><a href="{% url 'evaluasi' %}" >Evaluasi</a></li>
              <li><a href="{% url 'arsip' %}" >Arsip</a></li>
              <li> <a class="kirimeva" href="/">Logout</a></li>
            </ul>
  
        </ul>
      </nav>
     
    </header>
    <br />

    

    <div class="card-pertanyaan">
      <h3 style="text-align: center;">Hasil Evaluasi</h3>
      
      <br /> <br /> 
      <hr />
      <br />
  
      <form>
        {% for n in jawabanuser %}
          <table>
            <tr>
              <td>
                <h4>{{ forloop.counter }}. {{ n.pregunta }}...</h4>
              </td>
            </tr>
            <tr> 
              <td>
                <p>Pilihan anda : {{ n.jawaban }}</p>
              </td>
            </tr>
            <tr> 
              <td>
                <p>Kunci Jawaban : {{ n.larespuesta }}</p>
              </td>
            </tr> 
            <tr> 
              <td>
                <hr />
              </td>
              
          </table>
        {% endfor %}
  
          <table>
            {% for i in jawabanuser%}
            {% if forloop.counter0|divisibleby:2 %}
              <tr>
                <td>
                  <br />
                </td>
              </tr>
              <tr>
                <td>
                  <hr />
                </td>
              </tr>
              <tr>
                <td>
                  <p>Total Nilai :</p>
                <td> {{ i.score }} </td>
              </tr>
            {% endif %}
            {% endfor %}
          </table>
          <br />
      </form>
      <div>
        <a href="{% url 'arsip' %}" class="kirimeva">Lihat Seluruh Hasil Evaluasi</a>
      </div>
    </div>
  
  

  </body>
  </html>