<!DOCTYPE html>
{% load static %}
{% load widget_tweaks %}
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>userpage</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'admindepaginas/stylebase.css' %}">
    <link rel="stylesheet" href="{% static 'userdepaginas/stylehome.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
  </head>

  <body>
    <header>
      <img src="{% static 'admindepaginas/avatar_profile.jpg' %}" alt="HSI">
      <h4>Halaman Peserta | Home</h4>
      <nav class="nav_links">
        <ul>
  
          <li><a href="">Peserta</a></li>
            <ul class="dropdown">
              <li><a href="{% url 'evaluasi' %}" >Evaluasi</a></li>
              <li><a href="{% url 'arsip' %}" >Arsip</a></li>
              <li> <a class="kirimeva" href="/">Logout</a></li>
            </ul>
  
        </ul>
      </nav>
     
    </header>

    
    <div class="wrapper fadeInDown">
      <div id="formContent">
    
        <div class="fadeIn first">
          <img src="{% static 'userdepaginas/hsi-login.png' %}" id="icon" alt="HSI" />
        </div>
        
        <div id="formFooter">
          <button type="submit" class="kirimeva">
            <a href="{% url 'evaluasi' %}" class="login-a">Kerjakan Evaluasi</a>
          </button>
        </div>
    
      </div>
    </div>

  </body>
</html>